<%- include('layouts/header'); -%>
<body>
    <%- include('layouts/headerVisual'); -%>
    <%- include('layouts/adminNav'); -%>
    
    <section>
       <form>
        <h1>Welcome Admins</h1>
       </form>
    </section>
</body>
<%- include('layouts/footer'); -%>