<%- include('layouts/cmsHeader'); -%>
<body>
  <%- include('layouts/adminNav'); -%>
    <section class="w50">
        <div><p>DELETED RECORD!</p></div>
        
    </section>

    <div class="clear"></div>
</body>
<%- include('layouts/footer'); -%>