<%- include('layouts/header'); -%>
<body>
  <%- include('layouts/headerVisual'); -%>
  <%- include('layouts/nav'); -%>
  <section class="w50">
    <form name="myform" method="Post" onsubmit="return formSubmit();"  action="" >
     <h1>My Home page</h1>
     <p>This website is about video games.</p>
</section>

<div class="clear"></div>
</body>
<%- include('layouts/footer'); -%>